<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>T-Ma.R.S by PlatinBOX</title>
	<link rel="shortcut icon" type="image/x-icon" href="/red-mars.png" />
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/toastr/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/switcher.css" />
    <script type="application/javascript" src="/assets/jquery/dist/jquery.min.js"></script>
    <script type="application/javascript" src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/assets/handlebars/handlebars.min.js"></script>
    <script type="application/javascript" src="/assets/toastr/toastr.min.js"></script>
    <script>
        toastr.options = {
            closeButton: false,
            newestOnTop: true,
            showDuration: "50",
            hideDuration: "50",
            timeOut: "5000",
            showEasing: "linear",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };
    </script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a href="/" class="navbar-brand" title="Template Manage , Render , Send platform by PlatinBOX">T-Ma.R.S</a>
			</div>
			<div class="collapse navbar-collapse" id="top-menu">
				<ul class="nav navbar-nav">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Şablonlar <span class="caret"></span></a>
					  <ul class="dropdown-menu" data-zone="template-list"></ul>
					</li>
					{{#if user.isSuper}}
                    <li><a href="/template/create">Şablon ekle</a></li>
                    <li><a href="/explorer">Dosyalar</a></li>
					{{/if}}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}} <span class="caret"></span></a>
					  <ul class="dropdown-menu">
						<li><a href="/settings">Ayarlar</a></li>
            {{#if user.isSuper}}
              <li><a href="/settings/app">Uygulama ayarları</a></li>
            {{/if}}
            <li class="divider"></li>
						<li><a href="/logout">Oturumu kapat</a></li>
					  </ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    {{{body}}}
    <script id="template-dropdown-item" type="text/x-handlebars-template">
        \{{#each templates}}
            <li data-class="{active: '{{currentTemplate.name}}' == '\{{name}}' }"><a href="/template/\{{id}}/view">\{{name}}</a></li>
        \{{/each}}
    </script>
    <script>
        $.get('/template').then(templates => {
            var content = Handlebars.compile($("#template-dropdown-item").html());
            $("[data-zone='template-list']").html(content({ templates }));
            $("[data-class]").each(function(){
                try {
                    var classMap = eval("(function(){return " + $(this).attr('data-class') + ";})()");
                    Object.keys(classMap).forEach(k => classMap[k] ? $(this).addClass(k) : $(this).removeClass(k));
                }
                catch (err) {}
            });
        });
    </script>
</body>
</html>